<div class="container-fluid mb-5">
    <div id="home" class="row d-flex align-items-center justify-content-center">
        <div id="home-content" class="col-md-8 col-sm-12 text-center p-5">
            <div class="row mb-3">
                <blockquote class="blockquote">Agenda</blockquote>
                <h3 class="display-6">Dinas Komunikasi dan Informatika</h3>
                <h3 class="display-6">Kota Manado</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <img src="./image/kominfo.png" alt="" style="height: 100px;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div id="content" class="row d-flex align-items-center justify-content-center">
        <div class="col-md-11 col-sm-12">
            <% if (error.length > 0) { %>
            <div class="row">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <i class="fa-solid fa-circle-info"></i> <%= error %>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="col">

                    <% if (!locals.userId) { %>
                        <%- include('login') %> 
                    <% } else { %>
                        <%- include('agenda') %> 
                    <% } %> 
                </div>
            </div>
        </div>
    </div>
</div>