<div class="col-sm-12 col-md-5">
  <h3 class="mb-3">Login</h3>
  <form method="POST" action="/user/login">
    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</div>